*{
margin: 0;padding: 0;
box-sizing: border-box;
font-family: 'Ibarra Real Nova', serif;
}
header{
	width: 100%;
	height: 100%;
	background-image: url('../KidZone/bg');
	background-repeat: no-repeat;
	background-size: 100% 100%;

}
.mainheader{
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-content: center;
}
.mainheader .logo img{
    width: 250px; height: 70px;
    padding-left: 60px;
}
